@{
    Layout = "_Layout";
    ViewData["Title"] = "Lista delle foto";
}

@model PhotoIndexFiltered

<div class="p-5">
    <div class="bg-light p-3 rounded-3">
        <h1 class="text-center mb-3">Lista delle foto</h1>
         @if (User.IsInRole("ADMIN"))
         { 
            <div class="text-center">
                <a class="btn btn-success my-3" href="@Url.Action("Create", "Photo")">Aggiungi foto</a>
            </div>
         } 
        <form id="ms-filter-photo-name-form" asp-controller="Photo" asp-action="Index" method="get">
            <div class="mb-3">
                <label for="filteringString" class="form-label">Filtra per nome</label>
                <span class="d-flex align-items-center">
                    <input id="ms-filter-photo-name" type="text" class="form-control flex-grow-1" id="filteringString" asp-for="FilteringString">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </span>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Anteprima</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Visibilità</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Photos.Count > 0)
                {
                    @foreach (Photo photo in Model.Photos)
                    {
                        <tr>
                            <td>
                                <img class="ms-table-preview" src="@(photo.ImageSrc != "" ? photo.ImageSrc : "/img/placeholder.png")" alt="@photo.Title">
                            </td>
                            <td class="text-truncate">@photo.Title</td>
                            <td class="text-truncate">@photo.Description</td>
                            <td class="text-truncate">@(photo.Visibility ? "Visibile" : "Nascosta")</td>
                                @if(@photo.Categories != null && photo.Categories.Count > 0){
                                    string categoriesString = "";
                                    @foreach(Category category in photo.Categories)
                                        {
                                            if(!(category == photo.Categories.First()))
                                            {
                                                categoriesString += $", {category.Name.ToLower()}";
                                            } else
                                            {
                                                categoriesString += category.Name;
                                            }
                                        }
                                    <td class="text-truncate">@categoriesString</td>
                                } else {
                                    <td>Nessuna categoria associata.</td>
                                }
                            <td>
                                <a class="btn btn-sm btn-primary" href="@Url.Action("Details", "Photo", new { id = photo.Id})">
                                    @* Dettaglio *@
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                 @if (User.IsInRole("ADMIN"))
                                 { 
                                    <a class="btn btn-sm btn-warning" href="@Url.Action("Update", "Photo", new { id = photo.Id})">
                                        @* Modifica *@
                                        <i class="fa-solid fa-pen text-white"></i>
                                    </a>
                                    <form class="d-inline-block" id="ms-delete-@photo.Id" asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                                        @Html.AntiForgeryToken()
                                        <button data-bs-toggle="modal" data-bs-target="#ms-modal-delete" data-form-img="@photo.ImageSrc" data-form-id="@photo.Id" data-form-name="@photo.Title" type="submit" class="btn btn-sm btn-danger ms-btn-delete">
                                            @* Elimina *@
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                 } 
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center text-danger" colspan="6">Nessuna foto da mostrare.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="ms-modal-delete" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div id="ms-modal-content" class="modal-content">
            <div class="modal - header">
                <h5 class="modal-title text-danger">Attenzione!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="ms-modal-photo-img"/>
                <h2 class="p-5 text-center">Vuoi davvero eliminare la foto <span id="ms-deleting-name"></span>?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"> No </button>
                <button id="ms-modal-delete-btn" type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"> Elimina </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const btnDelete = document.getElementsByClassName("ms-btn-delete");
        const myModal = document.getElementById("ms-modal-delete");
        const photoModalName = document.getElementById("ms-deleting-name");
        const photoModalImg = document.getElementById("ms-modal-photo-img");
        const modalDeleteBtn = document.getElementById("ms-modal-delete-btn");
        let photoId = null;

        modalDeleteBtn.addEventListener("click", function (event) {
            if (photoId != null) {
                const deletingForm = document.getElementById("ms-delete-" + photoId);
                deletingForm.submit();
                photoId = null
            }
        });

        for (let i = 0; i < btnDelete.length; i++) {
            btnDelete[i].addEventListener("click", function (event) {
                event.preventDefault();
                photoModalName.innerHTML = "";
                photoId = btnDelete[i].getAttribute("data-form-id");
                const photoName = btnDelete[i].getAttribute("data-form-name");
                const photoImg = btnDelete[i].getAttribute("data-form-img");
                console.log(photoModalImg);
                photoModalImg.setAttribute("src", (photoImg != "" ? photoImg : "/img/placeholder.png"));
                photoModalImg.setAttribute("alt", photoName);
                photoModalName.innerHTML = photoName;
            });
        }

        const filteringStringInput = document.getElementById("ms-filter-photo-name");
        const filteringStringForm = document.getElementById("ms-filter-photo-name-form");

        filteringStringInput.addEventListener("keyup", () => {
            if (e.key === 'Enter' || e.keyCode === 13) {
                filteringStringForm.submit();
            }
            
        });
        
    </script>
}